*.txt
*.dat
*.pyc
*.sh
/TestSet_P2/
*.log

# 1. Ignore everything in the current directory
/*

# 2. Allow the .gitignore file itself (so it remains tracked)
!.gitignore

# 3. Allow the /output directory and its contents
!/output/